body {
  font-family: sans-serif;
  background-color: #ffe6c2;
}

/* Header styles */

header {
  padding: 10px;
  text-align: center;
}

/* Navigation styles */

nav {
  padding: 5px;
  margin: 5px;
  margin-left: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: purple;
}

/* Sections styles */

section {
  padding: 20px 20px;
  border-top:  1px solid black;
}

section p {
  text-indent: 20px;
}

p, li {
  font-size: larger;
}

/* Wrapper & Toggle Button Styles */
.TBDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease; /* Need some more guidance here */
}

.toggleBtn, .btnToggled {
  background-color: #fde3bf;
  border: 1px solid #d8c3a5;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2); /* Need some more guidance here */
  width: 30px;
  height: 21px;
  line-height: 21px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleBtn:hover, .btnToggled:hover {
  background-color: rgb(83, 83, 83); /* slightly darker */
  color:#fde3bf;
  border-color: none;
}

.toggleBtn:active, .btnToggled:active {
  box-shadow: inset 0 3px 4px rgba(0,0,0,0.4); /* Need some more guidance here */
  transform: translateY(1px); /* Need some more guidance here */
}

.btnToggled .arrow {
  transform: rotate(180deg); /* Need some more guidance here */
}

/* Footer styles */

footer {
  padding: 15px;
  border-top: 3px solid black;
  background-color: black;
  color: #ffe6c2;
  text-align: center;
  font-weight: bold;
}

/* Responsive Media styles */

@media (max-width: 768px) {
  /* Header styles */

  header h1 {
    margin-bottom: 0;
  }

  /* Navigation styles */

  nav {
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
  }

  a {
    font-size: larger;
  }
  
  /* Sections styles */

  h2, p, li {
    font-size: x-large;
  }

  #contact h2 a {
    font-size: x-large;
  }

  section {
    padding-left: 10px;
    padding-right:10px;
  }
}